body{
    background-image:url(pexels-pixabay-268533.jpg);
}
h1{
    color: red;
    font-size: 40px;
    background-color: yellow;
    width: fit-content;
    margin-left: 300px;
}
img:hover{
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);

}
